body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#gallery {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero {
  position: absolute;
  white-space: nowrap;
}